.inventory-form-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    width: 100%;
    height: 100%;
  }
  .inventory-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;  
    margin: 20px;
    width: 100%;
  }
  .selection{
    width: 200px;
  }
  
  .inventory-table{
    padding: 30px;
    border-collapse: collapse;
    width: 100%; 
    height: 100%; 
    border-spacing: 0;
    table-layout: auto;
  }
  .inventory-table td{
    border: none;
    border-bottom: 1px solid rgb(187, 184, 184);
    width: 20px;
    height: 20px;
    text-align: center;
  }
  .inventory-table th{
    border: 1px solid black;
    padding: 0px;
  }
  
  .stalls-inventory-table-container{
    display:flex;
    flex-direction: column;
    text-align:center;
    width: 100%;
    padding: 10px;
  }
  .select-container{
    margin-left: 30px;
  }
  .stalls-table{
    margin: 30px;
    border-collapse: collapse;
    height: 300px; 
    border-spacing: 0;
    table-layout: auto;
    padding: 10px;
  }
  .stalls-table td{
    border-bottom: 1px solid rgb(187, 184, 184);
    width: 20px;
    height: 20px;
    text-align: center;
  }
  .stalls-table th{
    border: 1px solid black;
    padding: 0px;
  }