.records-content{
    display:grid;
    grid-template-rows: auto 1fr;
    gap: 0;
    padding: 0; 
    margin: 0;
    border: 0;
    width: 100%;
    height: 100%;
  }
  .records-combobox-container{
    display:flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
  
  }
  .records-combobox{
    width: 20%;
  }