.records-content{
    display:grid;
    grid-template-rows: auto 1fr;
    gap: 0;
    padding: 0; 
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .records-table-container{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
  }
  .records-table{
    border-collapse: collapse;
    width: 100%; 
    height: 50%; 
    border-spacing: 0;
    table-layout: auto;
    margin: 0;
  }
  .records-table td {
    border: none;
    border-bottom: 1px solid rgb(187, 184, 184);
    width: auto;
    height: auto;
    text-align: center;
    padding: 10px;
    margin: 0;
  }
  .records-table th{
    border: 1px solid black;
    padding: 0px;
  }
  
  .records-combobox-container{
    display:flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
  
  }
  .records-combobox{
    width: 20%;
  }